@import "../../variables";

.img {
  height: 28px;
  border-width: .125rem;
  border-radius: 14px;
  margin-bottom: 7px;
  border-color: $off-white;
}

.img:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.cancel {
  position: absolute;
  right: 18px;
  top: 22px;
  z-index: 1;
}
