@import "variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@mixin myFontStyle {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
}

button {
  @include myFontStyle;
  background: #fff;
  border-radius: $border-rad;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  border-color: $off-white;
  color: $dark-grey;
  cursor: pointer;
  display: inline-block;
  padding: 4px 5px;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  width: 100%;
  margin-top: $padding;
}

.buttonDisabled {
  background-color: $dark-grey;
  color: $off-white;
}

@keyframes breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.buttonDisabled div {
  animation: breathe 1.5s infinite;
}

button:hover {
  transform: scale(1.05);
}
input, select, textarea {
  border: 1px solid $off-white;
  font-size: 1rem;
  padding: 6px;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

label {
  font-weight: 600;
}
