
.category {
  position: relative;
}

.toggleButtonContainer {
  position: relative;
}

.toggleButtonContainer img {
  position: absolute;
  left: -35px;
  top: 0;
}

.textDiv {
  position: relative;
}

.textDiv textarea, .textDiv input {
  width: calc(100% - 12px);
}

.textDiv input {
  margin-bottom: 6px;
}

.textDiv label {
  display: block;
}

.textDiv textarea:focus {
  outline: 3px solid grey;
}

.innerDiv {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 2px;
}

.innerDiv input {
  width: 100px;
  font-size: 14px;
  padding: 5px;
}

.innerDiv input:focus {
  outline: none;

}

@keyframes shake {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  5% {
    transform: translateX(-20px);
  }
  10% {
    transform: translateX(20px);
  }
  15% {
    transform: translateX(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}