@import "../../variables";

.category img {
  height: 28px;
  border-width: .125rem;
  border-radius: 14px;
  margin-bottom: 7px;
  border-color: $off-white;
}

.category {
  position: relative;
}

.nodeDiv {
  background-color: #fea400;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.content {
  position: absolute;
  top: 19px;
}

.cancel {
  position: absolute;
  right: 20px;
  top: 20px;
}

.textDiv {
  position: relative;
}

.textDiv textarea {
  width: calc(100% - 12px);
}

.textDiv label {
  display: block;
}

.textDiv textarea:focus {
  outline: 3px solid grey;
}

.nodeDivOuter {
  position: relative;
  display: flex;
  justify-content: center;
}

.innerDiv {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 2px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}