@import "../../variables";

.node {
  width: 80px;
  height: 80px;
  background-color: $primary;
  border-radius: 100%;
  position: relative;
}

.nodeContainer {
  display: flex;
  justify-content: center;
}

.connectionContainer {
  display: flex;
  justify-content: center;
}

.connectionContainer img {
  width: 40px;
  margin-right: 5px;
}

.connectionContainer input {
  margin-right: 38px;
}

.nodeName {
  position: absolute;
  width: 200px;
  text-align: center;
  top: 24px;
  left: -60px;
}